<div class="row">
   <div class="col l10 m10 s12 offset-l1 offset-m1">
      <div class="card">
         <div class="card-content">
            <input #barsearch id="barsearch" type="text"
            (keyup)="onKeyupInput(barsearch.value)"
            placeholder="filter by name" />
         </div>
      </div>
      <div class="card" *ngIf="spinner">
         <div class="card-content">
            <div class="preloader-wrapper big active" >
               <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                     <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                     <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                     <div class="circle"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="card" [class.hide]="spinner" id="resultstable">
         <div class="card-content">
               <ul class="highlight collection centered">

                     <li *ngFor="let bar of bars | async" class="collection-item avatar large">
                        <img *ngIf="bar.photos && bar.photos.length" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{bar.photos[0].photo_reference}}&key={{apikey}}" alt="" class="circle large">
                        <div class="title"><a [routerLink]="['bar', bar.place_id]">{{bar.name}}</a>
                        <a [routerLink]="['bar', bar.place_id]" class="secondary-content"><i class="material-icons">send</i></a></div>
                     </li>
                     <loader-host></loader-host>
               </ul>
         </div>
      </div>
   </div>
</div>
